spring:
  output:
    ansi:
      enabled: always

  application:
    name: devstep-backend

  profiles:
    include: secret

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: false
    properties:
      hibernate:
        format_sql: false

  docker:
    compose:
      enabled: false

logging:
  level:
    p6spy: info

springdoc:
  swagger-ui:
    path: /swagger-ui.html
jwt:
  secret: ${JWT_SECRET}
  access-token-expiration: ${JWT_ACCESS_TOKEN_EXPIRATION}
  refresh-token-expiration: ${JWT_REFRESH_TOKEN_EXPIRATION}
